body {
    font-family: Lobster, Pacifico, sans-serif;
  }

  header {
      color:white;
      background-color:#00917c;
      text-align:center;
      padding: 50px 50px 50px 50px;
      border-bottom-style: solid;
}


#kgpic {
    float:right;
}
