body {
    font-family: Lobster, Pacifico, sans-serif;
    padding: 100px 100px 100px 100px;
  }

  header {
      border-radius: 25px;
      color:white;
      background-color:#00917c;
      text-align:center;
      padding: 25px 25px 25px 25px;
      
}


#kgpic {
    box-shadow: 10px 10px grey;
    border-radius: 10px;
    float:right;
}

h2 {
    border-bottom-style: solid;
}

footer {
    border-radius: 25px;
    background-color:#00917c;
    text-align:center;
    padding: 25px 25px 25px 25px;
}