body {
    font-family: Lobster, Pacifico, sans-serif;
  }

  header {
      border-radius: 25px;
      color:white;
      background-color:#00917c;
      text-align:center;
      padding: 50px 50px 50px 50px;
      
}


#kgpic {
    box-shadow: 10px 10px grey;
    border-radius: 25px;
    float:right;
}

h2 {
    border-bottom-style: solid;
}